spring:
  application:
    name: crypto-tracker
  datasource:
    url: jdbc:postgresql://localhost:5432/cryptodb
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          batch_size: 20
    show-sql: false
  webflux:
    client:
      max-memory-size: 10MB
logging:
  level:
    root: WARN
    org.springframework: WARN
    org.hibernate: WARN
    org.apache: WARN
    org.example.crypto: INFO
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always
crypto:
  coingecko:
    base-url: https://api.coingecko.com/api/v3
    request-timeout: 10000
    coins-to-track:
      - bitcoin
      - ethereum
      - binancecoin
      - ripple
      - cardano